name: ML CI/CD Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

jobs:

  train-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Train model
        run: |
          python src/train.py

      - name: Evaluate model
        run: |
          python src/evaluate.py

      # Show files to confirm model exists
      - name: Show project files
        run: |
          ls -R

      # Upload trained model
      - name: Upload model artifact
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: model/model.pkl


  docker-build:
    needs: train-test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Download trained model
      - name: Download model artifact
        uses: actions/download-artifact@v4
        with:
          name: trained-model
          path: model

      - name: Verify downloaded files
        run: |
          ls -R

      - name: Login to DockerHub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: |
          docker build -t surbhibagad/soil-ml:latest .

      - name: Push Docker image
        run: |
          docker push surbhibagad/soil-ml:latest